@use 'config' as *;

main {
  display: grid;
  place-items: center;
}

.container {
  margin-block: 5em;
  display: flex;
  flex-direction: column;
  gap: 5em;
  width: 75vw;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;

  h1 {
    font-size: 3em;
  }

  h2 {
    font-weight: bold;
  }

  p {
    color: lighten($color: $black-base, $amount: 75%);
    margin-block: 1em;
    font-size: 1.25em;
  }

  input {
    border: 1px solid
      lighten($color: $black-base, $amount: 75%);
    border-radius: 5px;
    padding: 0.75em 1.5em;
    width: 350px;
  }
}

.faqs {
  display: flex;
  flex-direction: column;
  gap: 2em;

  &__item {
    display: flex;
    opacity: 0;
    flex-direction: column;
    gap: 1.5em;
    padding-block: 1em;
    border-bottom: 1px solid
      lighten($color: $black-base, $amount: 75%);
    cursor: pointer;
    @include animate(fadeIn);

    &--summary {
      display: flex;
      align-items: center;
      position: relative;

      & h3 {
        font-weight: bold;
        flex: 1 1 auto;
      }

      & svg {
        width: 1.5em;
        cursor: pointer;
        position: absolute;
        right: 0;
        opacity: 0;
      }

      .show {
        @include animate(fadeIn);
      }
    }

    &--details {
      width: 65ch;
      color: lighten($color: $black-base, $amount: 60%);
      font-size: 0.9rem;
      line-height: 1.5;
      position: fixed;
      left: -100%;
      transform: translateX(-50%);
    }

    .collapsed {
      @include animate(detailsShow);
    }
  }

  .showed {
    @include animate(fadeIn);
  }

  .hidden {
    @include animate(fadeOut);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  50% {
    opacity: 0;
  }

  100% {
    position: fixed;
    left: -100%;
  }
}

@keyframes detailsShow {
  50% {
    transform: translateY(-25%);
  }

  100% {
    position: static;
    transform: translateY(0%);
  }
}
