@use 'sass:math';
@use 'sass:map';
@import 'config';

:root {
  font-size: 12px;
}

body {
  background-color: $body-color;
}

aside {
  height: 100vh;
  padding: 1em;
  display: flex;
  gap: 1em;
}

svg {
  width: 1.75em;
  color: $icon-color;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

hr {
  width: 100%;
  border: 1px solid lighten($color: $body-color, $amount: 5%);
  margin-block: -1em;
}

img {
  @include outlineImage(#E3DFFF)
}

.nav {
  @include panel;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .25s ease-in-out;
  overflow: hidden;

  & > div {
    width: 100%;

    & > div {
      width: 100%;
    }
  }
  
  &__upper, &__lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
  }

  &__plan, &__profile {
    @include itemLayout;
    @include itemChildLayout;
  }

  &__search {
    @include flexCenter;
    position: relative;

    input {
      width: 100%;
      border: 2px solid $body-color;
      @include borderRadius(2);
      padding: .5em 4.25em;
      background-color: lighten($color: $body-color, $amount: 7.5%);
    }
    
    svg {
      position: absolute;
      left: 4%;
    }
  }

  &__actions {
    @include flexCenter(column);
  }

  &__shared, &__projects {
    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .75em 1em;
      font-size: 1.2rem;
      font-weight: 500;
      color: $icon-color;
    }
  }

  &__projects {
    @for $i from 1 through 3 {
      a:nth-of-type(#{$i}) svg {
        @include svgColor(map.get($projectsColor, $i))
      }
    }
  }

  &__lower {
    hr {
      width: 100vmax;
    }
  }
  
  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
    width: 100%;
    padding: .5em;
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: none;
    color: darken($color: $body-color, $amount: 75%);
    @include borderRadius;
    @include onHover(true);
  }
}

.sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > div {
    @include panel(325px);
  }
  
  &__plan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5em;
    
    & > div {
      @include itemLayout;
      width: 100%;

      &:nth-child(3){
        background-color: #F3F1FE;
      }
    }


    @include itemChildLayout;
    p:last-child{
      font-size: 1rem;
    }
  }
}


@import 'tablet';