:root {
  --body-color: hsl(0, 0%, 90%);
  --aside-color: hsl(0, 0%, 100%);

  --text-color: hsl(0, 0%, 30%);

  --search-color: hsl(0, 0%, 96%);
  --icons-color: hsl(0, 0%, 60%);

  --title-color: hsl(0, 0%, 70%);

  --projects-first: hsl(169, 57%, 80%);
  --projects-second: hsl(227, 74%, 88%);
  --projects-third: hsl(275, 73%, 87%);
}

body {
  background-color: var(--body-color);
  font-size: 0.9rem;
}

aside {
  height: 100vh;
  padding: 1em;
  position: relative;
}

.aside__body {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--aside-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 100%;
  border: 1px solid hsl(0, 0%, 89%);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.aside__upper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

img {
  width: 100%;
  height: 100%;
}

svg {
  width: 1.5em;
  color: var(--icons-color);
}

.aside__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.header__avatar {
  border-radius: 10px;
  overflow: hidden;
  width: 35px;
  height: 35px;
  flex: none;
}

.header__name {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.header__name p:first-of-type {
  font-weight: bold;
}

.header__name p:nth-child(2) {
  color: var(--title-color);
}

.header__cta {
  flex: none;
}

.aside__search {
  margin-top: 2em;
  position: relative;
}

.aside__search input {
  width: 100%;
  padding: 0.5em 3.5em;
  border-radius: 10px;
  border: 2px solid hsl(0, 0%, 89%);
  background-color: var(--search-color);
}

.aside__search svg {
  position: absolute;
  top: 20%;
  left: 3%;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

a:hover {
  background-color: var(--body-color);
  font-weight: 700;
}

a:hover svg {
  color: var(--text-color);
}

.aside__actions,
.shared__body,
.projects__body,
.aside__settings {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--text-color);
}

.actions__item,
.shared__item,
.projects__item,
.settings__item {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 0.5em;
  border-radius: 10px;
}

hr {
  border: 1px solid var(--search-color);
  margin-block: 1em;
}

.shared__title,
.projects__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--title-color);
  margin-left: 0.5em;
  margin-bottom: 0.75em;
}

.shared__title svg {
  color: var(--title-color);
}

.aside__projects {
  margin-top: 0.75em;
}

.projects__item svg {
  stroke: var(--title-color);
}

.projects__item:hover svg {
  stroke: var(--text-color);
}

.projects__item:nth-child(1) svg {
  fill: var(--projects-first);
}

.projects__item:nth-child(2) svg {
  fill: var(--projects-second);
}

.projects__item:nth-child(3) svg {
  fill: var(--projects-third);
}

.projects__item:nth-child(4),
.settings__item {
  color: var(--title-color);
}

.projects__item:nth-child(4):hover,
.settings__item:hover {
  color: var(--text-color);
}

@media screen and (max-width: 425px) {
  aside {
    width: 100vw;
  }

  .aside__body {
    width: 100%;
  }
}
