* {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2em;
}

.main__header {
  font-size: 5rem;
}

.main__count {
  font-size: 4rem;
  transition: all 0.1s;
  position: relative;
}

.main__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.main__btns > button {
  font-size: 1.1rem;
  padding: 0.25em 0.75em;
  min-width: 125px;
  border: 3px solid black;
  border-radius: 6px;
  box-shadow: 3px 3px black;
  cursor: pointer;
  transition: all 0.1s;
}

button[data-action='decrement'] {
  background-color: hsl(0, 100%, 40%);
}

button[data-action='increment'] {
  background-color: hsl(142, 100%, 40%);
}

button:hover {
  transform: translateY(-10%);
}

.sub__count {
  position: absolute;
  top: 0;
  left: 120%;
  font-size: 1.25rem;
}

@keyframes clicked {
  0% {
    transform: translateY(-10%) scale(1);
  }
  100% {
    transform: translateY(-10%) scale(1.1);
  }
}

@keyframes changed {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5%);
  }
}

@keyframes subCount {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-75%);
  }
}
