:root {
  --offwhite: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --primary: hsl(112, 39%, 53%);

  --animation: all 0.1s;
}

body {
  background-color: var(--offwhite);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 4em;
  background-color: var(--white);
  font-weight: 500;
  user-select: none;
}

a:focus,
button:focus {
  outline: 2px solid var(--primary);
  border-radius: 3px;
  outline-offset: 5px;
  transition: var(--animation);
}

.nav__logo {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.nav__logo img {
  width: 2em;
}

.nav__links {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: var(--black);
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item svg {
  width: 1.25em;
}

.profile,
.close {
  display: none;
}

.nav__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.nav__profile svg {
  width: 1.5em;
}

.cart {
  position: relative;
}

.cart::after {
  content: '12';
  position: absolute;
  top: -25%;
  right: -50%;
  font-size: 0.65rem;
  background-color: var(--primary);
  padding: 0.25em 0.5em;
  border-radius: 10px;
  color: var(--white);
}

.cart:focus,
.avatar:focus {
  outline: none;
}

.cart:focus .cart__svg {
  stroke: var(--primary);
}

.avatar:focus .avatar__svg {
  fill: var(--primary);
}

.hamburger {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.settings {
  display: none;
}

.avatarDropdown .nav__item {
  gap: 0.5em;
}

.avatarDropdown svg {
  width: 1.25em;
}

@media screen and (max-width: 800px) {
  nav {
    padding: 0.75em 2em;
  }

  .nav__logo p {
    display: none;
  }

  .nav__links {
    gap: 2em;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0.75em 1em;
    position: relative;
  }

  a:focus,
  button:focus {
    outline: none;
    color: var(--primary);
  }

  .nav__logo,
  .nav__profile {
    flex: 1 1 auto;
  }

  .nav__logo {
    justify-content: flex-start;
  }

  .nav__links {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    padding: 1em;
    width: 50vw;
    background-color: var(--white);
    font-size: 1rem;
    z-index: 1;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0em;
    transform: scaleX(0);
    transform-origin: right;
  }

  .profile,
  .close {
    display: flex;
  }

  .display {
    transition: var(--animation);
    transform: scaleX(100%);
  }

  .nav__links .nav__item:not(.close) {
    padding: 1.5em;
  }

  .nav__links .nav__item:nth-child(6) {
    position: relative;
    align-self: stretch;
    justify-content: flex-start;
  }

  .nav__links .nav__item:nth-child(6)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid var(--offwhite);
  }

  .close {
    align-self: flex-end;
    transition: var(--animation);
  }

  .close:hover {
    color: var(--primary);
  }

  .profile {
    position: relative;
    align-self: stretch;
    justify-content: flex-start;
    gap: 0.75em;
  }

  .profile::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid var(--offwhite);
  }

  .profile svg {
    width: 2em;
  }

  .settings svg {
    width: 1.5em;
  }

  .nav__profile {
    justify-content: flex-end;
  }

  .avatar {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .settings {
    display: flex;
    position: relative;
    align-self: stretch;
    justify-content: flex-start;
    gap: 0.75em;
  }
}
